@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mx-scrollcontainer-top">
        <img class="mx-image mx-name-image1 img-responsive" src="~/img/EgyptPic.jpg" role="presentation" width="100%" border="0">
    </div>
    <h3>Stay for a while, and learn more about this amazing, archaeological site!</h3>
    <p>
        Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been
        under archeological investigation (primarily by BYU researchers) for over 25 years.
        The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.
    </p>
</div>
