@{
    ViewData["Title"] = "Burial List";
}
@model IntexMummy11.Models.ViewModels.BurialViewModel
<div class="text-center">
    <div class="mx-scrollcontainer-top">
        <img class="mx-image mx-name-image1 img-responsive" src="~/img/EgyptPic.jpg" role="presentation" width="100%" border="0">
    </div>
    <h3>Welcome to the Burial List Page</h3>
    <p>
        Here, view and filter all of the burials in the database to analyze the data.
    </p>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Head Direction</th>
            <th>Depth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burialmain b in Model.Burials)
        {
            <tr>
                <td>@b.Headdirection</td>
                <td>@b.Depth</td>
            </tr>
        }
    </tbody>
</table>


@*
@foreach (Book b in Model.Books)
{
    <partial name="BookstoreSummary" model="b" />
}*@