@{
    ViewData["Title"] = "Burial Insights";
}

@model IntexMummy11.Models.ViewModels.BurialViewModel

<div class="text-center">
    <div class="mx-scrollcontainer-top">
        <img class="mx-image mx-name-image1 img-responsive" src="~/img/EgyptPic.jpg" role="presentation" width="100%" border="0">
    </div>
    <h3>Welcome to the Burial Insights Page</h3>
    <p>
        Here, view an unsupervised analysis report on the connection between depth and position of tombs with age
        Or our awesome data
    </p>

    <h1>3D Visual of Depth at Different Coordinates</h1>
    <img src="~/img/Screen Shot 2023-04-14 at 10.38.26 AM.png" alt="Burial Heat Map" width="650" height="500" /> <br /><br />

    <h1>Unsupervised Heat Map</h1>
    <img src="~/img/Screen Shot 2023-04-13 at 4.04.34 PM.png" alt="Burial Heat Map" width="650" height="500" /> <br /><br />

    <h1>Burial Site Visualization</h1>
    <img src="~/img/Screen Shot 2023-04-13 at 7.57.43 PM.png" alt="Burial Site Visualization" width="600" height="500" />
</div>
