@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IntexMummy11.Models.Burialmain

<div class="text-center">
    <div class="mx-scrollcontainer-top">
        <img class="mx-image mx-name-image1 img-responsive" src="~/img/EgyptPic.jpg" role="presentation" width="100%" border="0">
    </div>
    <h3>Add a Burial Record</h3>
    <p>
        Currently, we can only add to a single table at a time
    </p>

    <form id="prediction-form" method="post" asp-controller="Data" asp-action="CreateBurialMain">

        <div asp-validation-summary="All" class="text-danger"></div>
        <h4>.....</h4>

        <h4>Measurements</h4>

        <div class="form-group">
            <input type="hidden" id="id" name="id" value="@Model.Id">
        </div>
        <div class="form-group">
            <label for="squarenorthsouth">Square North to South</label>
            <input type="text" id="squarenorthsouth" name="squarenorthsouth">
        </div>
        <div class="form-group">
            <label for="headdirection">Head Direction</label>
            <input type="text" id="headdirection" name="headdirection">
        </div>
        <div class="form-group">
            <label for="sex">Sex</label>
            <input type="text" id="sex" name="sex">
        </div>
        <div class="form-group">
            <label for="northsouth">North to South</label>
            <input type="text" id="northsouth" name="northsouth">
        </div>
        <div class="form-group">
            <label for="depth">Depth</label>
            <input type="text" id="depth" name="depth">
        </div>
        <div class="form-group">
            <label for="eastwest">East to West</label>
            <input type="text" id="eastwest" name="eastwest">
        </div>
        <div class="form-group">
            <label for="adultsubadult">Adult/Subadult</label>
            <input type="text" id="adultsubadult" name="adultsubadult">
        </div>
        <div class="form-group">
            <label for="facebundles">Face Bundles</label>
            <input type="text" id="facebundles" name="facebundles">
        </div>
        <div class="form-group">
            <label for="southtohead">South to Head</label>
            <input type="text" id="southtohead" name="southtohead">
        </div>
        <div class="form-group">
            <label for="preservation">Preservation</label>
            <input type="text" id="preservation" name="preservation">
        </div>
        <div class="form-group">
            <label for="fieldbookpage">Field Book Page</label>
            <input type="text" id="fieldbookpage" name="fieldbookpage">
        </div>
        <div class="form-group">
            <label for="squareeastwest">Square East to West</label>
            <input type="text" id="squareeastwest" name="squareeastwest">
        </div>
        <div class="form-group">
            <label for="goods">Goods</label>
            <input type="text" id="goods" name="goods">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" id="text" name="text">
        </div>
        <div class="form-group">
            <label for="wrapping">Wrapping</label>
            <input type="text" id="wrapping" name="wrapping">
        </div>
        <div class="form-group">
            <label for="haircolor">Hair Color</label>
            <input type="text" id="haircolor" name="haircolor">
        </div>
        <div class="form-group">
            <label for="westtohead">West to Head</label>
            <input id="westtohead" name="westtohead" />
        </div>
        <div class="form-group">
            <label for="samplescollected">Samples Collected</label>
            <input id="samplescollected" name="samplescollected" />
        </div>
        <div class="form-group">
            <label for="area">Area</label>
            <input id="area" name="area" />
        </div>
        <div class="form-group">
            <label for="burialid">Burial ID</label>
            <input id="burialid" name="burialid" />
        </div>
        <div class="form-group">
            <label for="length">Length</label>
            <input id="length" name="length" />
        </div>
        <div class="form-group">
            <label for="burialnumber">Burial Number</label>
            <input id="burialnumber" name="burialnumber" />
        </div>
        <div class="form-group">
            <label for="dataexpertinitials">Data Expert Initials</label>
            <input id="dataexpertinitials" name="dataexpertinitials" />
        </div>
        <div class="form-group">
            <label for="westtofeet">West to Feet</label>
            <input id="westtofeet" name="westtofeet" />
        </div>
        <div class="form-group">
            <label for="ageatdeath">Age at Death</label>
            <input id="ageatdeath" name="ageatdeath" />
        </div>
        <div class="form-group">
            <label for="southtofeet">South to Feet</label>
            <input id="southtofeet" name="southtofeet" />
        </div>
        <div class="form-group">
            <label for="excavationrecorder">Excavation Recorder</label>
            <input id="excavationrecorder" name="excavationrecorder" />
        </div>
        <div class="form-group">
            <label for="photos">Photos</label>
            <input id="photos" name="photos" />
        </div>
        <div class="form-group">
            <label for="hair">Hair</label>
            <input id="hair" name="hair" />
        </div>
        <div class="form-group">
            <label for="burialmaterials">Burial Materials</label>
            <input id="burialmaterials" name="burialmaterials" />
        </div>
        <div class="form-group">
            <label for="dateofexcavation">Date of Excavation</label>
            <input type="date" id="dateofexcavation" name="dateofexcavation" />
        </div>
        <div class="form-group">
            <label for="fieldbookexcavationyear">Field Book Excavation Year</label>
            <input id="fieldbookexcavationyear" name="fieldbookexcavationyear" />
        </div>
        <div class="form-group">
            <label for="clusternumber">Cluster Number</label>
            <input id="clusternumber" name="clusternumber" />
        </div>
        <div class="form-group">
            <label for="shaftnumber">Shaft Number</label>
            <input id="shaftnumber" name="shaftnumber" />
        </div>


        @*<div class="form-group">
                <label>Area Direction</label>
                <select>
                    <option value="area_NE">area_NE</option>
                    <option value="area_NNW">area_NNW</option>
                    <option value="area_NW">area_NW</option>
                    <option value="area_SE">area_SE</option>
                    <option value="area_SE">area_SW</option>
                </select>
            </div>*@

        <div class="float-end">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>